Source: telepathy-sunshine
Section: net
Priority: optional
XS-Python-Version: >= 2.6
Maintainer: Debian Telepathy maintainers <pkg-telepathy-maintainers@lists.alioth.debian.org>
Uploaders: Krzysztof Klinikowski <kkszysiu@gmail.com>, Sjoerd Simons <sjoerd@debian.org>
Build-Depends: debhelper (>= 7),
                 cdbs,
                 python-dbus,
                 python-gobject,
                 python-telepathy (>= 0.15.11),
                 libdbus-glib-1-dev (>= 0.51),
                 python-twisted (>= 0.8.0),
                 python2.6
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/pkg-telepathy/telepathy-sunshine.git
Vcs-Browser: http://git.debian.org/?p=pkg-telepathy/telepathy-sunshine.git
Homepage: http://telepathy.freedesktop.org/wiki/

Package: telepathy-sunshine
Architecture: all
Provides: telepathy-connection-manager
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dbus, python-gobject, python-telepathy (>= 0.15.17), python-twisted (>= 0.8.2)
XB-Python-Version: ${python:Versions}
Description: Gadu Gadu connection manager for Telepathy
 A full-featured Gadu Gadu connection manager for the Telepathy project.
